.button{
    color: white;
    background-color: hsl(340, 57%, 64%);
    padding: 10px 20px;
    border-radius: 1vh;
    border: 3px solid hsl(340, 57%, 32%);
    cursor: pointer;
    display: inline-block;
}